.card{
	margin-right: 2%;
	margin-top: 3%;
	margin-left: 5%;
	margin-bottom:1%;
}
.jumbotron{
	background-image: url('image/shock-box1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
a, a:hover{
	color:white;
}
